@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Mono+One&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Mono+One&family=Turret+Road:wght@200;300;400;500;700;800&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 255, 0.507);
    background-image: url(https://wallpaperswide.com/download/pokemon_video_game-wallpaper-3840x2160.jpg);
    background-size: cover;
    margin: 45px;
}

div.painel{

    display: block;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    max-width: 400px;
    min-height: 500px;
    width: 800px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 1px 15px 1px;
   
    
    
}

div.card{
    border: 2px solid rgb(255, 208, 0);
    padding: 20px;
    gap: 10px;
    min-width: 200px;
    height: 580px;
    margin: auto;
    background-color: rgba(255, 255, 0, 0.027);
    padding: 5px;
    box-shadow: 0px 1px 30px 1px  rgb(255, 153, 0);
    animation: carregar 10s infinite;

}

#font{
    font-family: "Press Start 2P", system-ui;
    color: yellow;
    text-shadow: 0px 1px 10px rgb(255, 0, 0);
    padding: 10px;
}

div#tela{
    font-family: "VT323", monospace ;
    font-size: 24px;
    padding: 10px;    
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: 0px 1px 10px 0px rgba(255, 230, 0, 0.452);
    color: yellow;
    text-shadow: 0px 1px 10px rgb(255, 0, 0);
    padding: 10px;
    margin: 10px;

    
   
}

div.psq{
    padding: 10px;
    gap: 10px;
    margin: 10px;
}

.pokemon{
    width: 120px;
    border: none ;

}

.pokemon-1{
    width: 120px;
    border: 5px inset rgb(0, 0, 0);
    background-color: rgba(59, 59, 59, 0.767);
    margin: 5px;
    padding: 5px;
    border-radius: px;
    filter: opacity(0.6);

}

#entrada{
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    border-radius: 20px ;
    border: 1px groove red;
    box-shadow: 0px 1px 10px 0px red;
    font-family: "VT323", sans-serif;
    animation: jelly 10s;
    
}

@keyframes carregar{
    0%{background-color: rgba(255, 255, 0, 0.829);}
    25%{background-color: rgba(255, 255, 0, 0);}
    50%{background-color: rgba(255, 166, 0, 0.842);}
    75%{background-color: rgba(255, 166, 0, 0);}
    100%{background-color: rgba(255, 255, 0, 0.795);}
}

button.cacar{
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px inset red;
    box-shadow: 0px 1px 10px 0px orange;
}

button.cacar:hover{
    animation: jelly 0.6s;
}

@keyframes jelly{
    0%{transform: scale(1.1); }
    25%{transform: scale(0.9, 1.1); }
    50%{transform: scale(1.1, 0.9); }
    75%{transform: scale(0.95, 1.05); }
    100%{transform: scale(1,1); }
}