
body{
  background-color:black;
  margin-top:30%;
  margin:10%;
}
  
#fogoAp{
  background-color:red;
  font-size:40px;
  color:white;
  text-align:center;
  
  width: 90px;
  height:150px;
}

#aguaAp{
  background-color:blue;
  font-size:40px;
  color:white;
  text-align:center;
  
  width: 90px;
  height:150px;
  
  position: relative;
  bottom: 190px;
  left:80%;
} 



