@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    padding: 0;

}

.item{
    font-family: "Rubik Mono One", monospace;
}

.display{
    display: flex;
    justify-content: center;
}

.card-link{
    font-family: "Anton", sans-serif;
}

.card-list .card-item{
    list-style: none;

}

.card-list .card-item .card-link{
    width: 400px;
    display: block;
    background: rgb(0, 47, 255);
    padding: 18px;
    border-radius:12px;
    text-decoration: none;
    color: white;

}

.card-list .card-link .card-image{
    max-width: 100%;
    aspect-ratio: 16 / 12;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: rgb(255, 217, 0);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: rgb(117, 86, 2);
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: white;
    font-weight: 600;
}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin: 35px 0 5px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}