@import url('https://fonts.googleapis.com/css2?family=Anta&family=Goldman:wght@400;700&family=Keania+One&family=Stalinist+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(20, 0, 109);
} 

nav.navbar{
    border-radius: 0px 0px 10px 10px;
    height: 80px;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 50px;
    padding: 20px;
    justify-content: space-between ;
    background-image: linear-gradient(90deg, rgba(0, 0, 255, 0), rgb(19, 2, 255)60%) ;
    color: white;
    
}

div.menu-options, ul{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 5px;
}

div.menu-options, ul, a{
    color: white;
    list-style: none;
}

a.fa-box{
    color: white;
    list-style: none;
    
}

a.fa-box, a{
    list-style: none;
}

img#logo{
    width: 60px;
    border-radius: 30px;
    
}


div.boxoptions{
    overflow: hidden;
}

div.navside{
    max-width: 100vw;
    min-width: 100vw;
}

div.navside, button, a{
    text-decoration: none;
}

button#navegue{
    width: 200px;
    max-width: 100vw;
    border-radius: 0px 30px;
    height: 50px;
    margin-left: 1500px;
    position: fixed;
    
}

 a#navegar{
    background-color: aliceblue;
    color: black;
    font-size: 30px;
    font-family: "Keania One", sans-serif ;
    border-radius: 10px;
    
}

div.nav{
    background: rgba(255, 0, 0, 0.329);
    height: 300px;
    width: 400px;
    padding: 30px;
    
}

div.nav, ul.nav-options{
    flex-direction: column;
    font-size: 20px;
    border: 2px solid;

}

div.nav, ul.nav-options, li#a{
    border: 1px solid;
    gap: 20px;
}
