@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.quadrado{
    width: 200px;   /*largura*/
    height: 200px;  /*altura*/
    background-color: rgb(51, 159, 60);
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
    font-size: 120px;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 255, 21)  2px 2px 2px 2px;
}

/*personalizando a div*/
.painel{
    background-color: rgba(10, 66, 73, 0); /*cor de fundo*/
    width: 1000px;             /*largura*/
    height: 800px;             /*altura*/
    margin: auto;              /*centralizar*/
    border-radius:20px;
    text-align: center;
}
.jogo{
    margin: auto;
}
h2{ 
    color: white;
    text-align: center;
    font-size: 40px;
}
body{
    background-image: url("images/Design sem nome.png");
    background-size: auto;
}

#nome{
    font-family: cursive;
    color: rgb(43, 255, 0);
    text-shadow: black  2px 5px 2px;
}

.controle{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    opacity: 0.8;
    z-index: 10;
    animation: flutuar 3s ease-in-out infinite;

}

.controle-esquerdo{
    left: 1200px;
}

.controle-direito{
    left: 460px;
    transform: translateY(-50%) scaleX(-1);
}

@keyframes flutuar{
    0%, 100% {
        transform: translateY(-50%)
        translateY(-10%);
    }
    50% {
        transform: translateY(-50%) translateY(10px);
    }
}


.caminhada{
    position: fixed;
    top: 81%;
    width: 100px;
    right: 58%;

}

.caminhada-quatro{
    position: fixed;
    top: 81%;
    width: 100px;
    right: 40%;

}

.caminhada-tres{
    position: fixed;
    top: 70%;
    width: 250px;
    right: 90%;

}

.caminhada{
    position: fixed;
    top: 81%;
    width: 100px;
    right: 58%;

}

.botao{
    background-color: rgb(94, 54, 17);
    color: rgb(9, 141, 48);
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    margin: 1%;
    font-family: fantasy;
}

.botaoD{
    background-color: rgb(255, 187, 0);
    color: rgb(8, 94, 0);
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
    margin: 1%;
    font-family: fantasy;
}

.texto{
    font-size: 40px;
    color: rgb(245, 211, 160);
    text-shadow: 1px 2px 2px  black;
    font-family:cursive;

}

.etiqueta{
    font-size: 30px;
    font-family: cursive;
}